<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>Boilerplate Web Development</title>
    <script>
        (function(document) {
            'use strict';
            
            const time = new Date().getTime();
            const style = document.createElement('link');
            style.rel = 'stylesheet';
            style.href= `assets/css/style.min.css?version=${time}`;
            document.head.appendChild(style);

        })(document)
    </script>
</head>