#home {
    height: 100vh;
    max-width: 100%;

    .logo {
        width: 150px;
        max-width: 100%;
    }

    #welcome {
        color: $colorGulp;
    }

    ul {
        width: 50%;
        padding-inline-start: 0;

        li {
            list-style-type: none;
        }
    }
}